{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}
{% include 'navigation/navigation.html' %}
<section class="page-sectioncontact mt-5 mb-5" id="contact">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading contact-header text-center text-uppercase text-secondary mb-5 mt-5">Contact Us</h2>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div>
            <div class="row col-8 offset-2 mt-5">
                <div class="form-group">
                    <label for="controlInput1">Name</label>
                    <input type="name" name="name" class="form-control" id="input" placeholder="fullname" required>
                </div>
                <div class="form-group">
                    <label for="controlInput1">Email address</label>
                    <input type="email" name="email" class="form-control" id="input1" placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <label for="controlInput1">Phone </label>
                    <input type="phone" name="phone" class="form-control" id="input1" placeholder="00-000-0000" required>
                </div>
                <div class="form-group">
                    <label for="controlTextarea1">Message</label>
                    <textarea name="message" class="form-control" id="controlTextarea1" rows="3" required></textarea>
                </div>
            </div>
            <div class="row col-4 offset-4 mt-3 mb-5">
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if name %}
                    <h3>{{ name }} your message has been sent!</h3>
                {% endif %}
            </div>
        </div>
    </form>
</section>
{% endblock %}