{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}
{% include 'navigation/navigation.html' %}
<main class="mb-5">
    <h1 class="display-4 pt-5 mt-5 text-success">My Coachee</h1>
    <p>
        This is a Web Platform for Coaches to have sessions with their coachees.
    </p>

</main>

{% include 'home/about.html' %}

{% include 'home/pillars.html' %}

{% include 'home/plans.html' %}

{% include 'home/contact.html' %}

{% endblock %}