{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="page-section pillar" id="pillars">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Pillars</h2>
        <!-- Pillars Grid Items-->
        <div class="row justify-content-center">
            <!-- Pillar 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal1">
                    <img class="img-fluid" src="{{ MEDIA_URL }}health.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal2">
                    <img class="img-fluid" src="{{ MEDIA_URL }}spiritual.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal3">
                    <img class="img-fluid" src="{{ MEDIA_URL }}relatives.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 4-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal4">
                    <img class="img-fluid" src="{{ MEDIA_URL }}conjugal.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 5-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal5">
                    
                    <img class="img-fluid" src="{{ MEDIA_URL }}children.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 6-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal6">
                    <img class="img-fluid" src="{{ MEDIA_URL }}social.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 7-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal7">
                    <img class="img-fluid" src="{{ MEDIA_URL }}serve.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 8-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal8">
                    <img class="img-fluid" src="{{ MEDIA_URL }}intellectual.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 9-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal9">
                    <img class="img-fluid" src="{{ MEDIA_URL }}financial.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 10-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal10">
                    <img class="img-fluid" src="{{ MEDIA_URL }}professional.png" alt="..." />
                </div>
            </div>
            <!-- Pillar 11-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="pillar-item mx-auto" data-bs-toggle="modal" data-bs-target="#pillarModal11">
                    <img class="img-fluid" src="{{ MEDIA_URL }}emotional.png" alt="..." />
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Pillars Modals-->
<section>
    <!-- Pillars Modal 1-->
    <div class="pillar-modal modal fade" id="pillarModal1" tabindex="-1" aria-labelledby="pillarModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Health</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}health.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Do you exercise? Do you eat well? Sleep well? How do you take care of your health?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 2-->
    <div class="pillar-modal modal fade" id="pillarModal2" tabindex="-1" aria-labelledby="pillarModal2"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Spiritual</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}spiritual.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Do you believe in God, in a Higher Being? Do you seek to pray, meditate, practice your faith?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 3-->
    <div class="pillar-modal modal fade" id="pillarModal3" tabindex="-1" aria-labelledby="pillarModal3"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Relatives (parent and sibling relationship)</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}relatives.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Did you grow up in a happy home? You have a relationship with your parents
                                    and brothers is it healthy?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 4-->
    <div class="pillar-modal modal fade" id="pillarModal4" tabindex="-1" aria-labelledby="pillarModal4"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Conjugal</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}conjugal.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Is there affection, respect and care?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 5-->
    <div class="pillar-modal modal fade" id="pillarModal5" tabindex="-1" aria-labelledby="pillarModal5"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Children</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}children.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Do you have children? Think about having? Don't you want kids? What do you think about children?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 6-->
    <div class="pillar-modal modal fade" id="pillarModal6" tabindex="-1" aria-labelledby="pillarModal6"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Social</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}social.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Do you have good interpersonal relationships, whether at work or in studies?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 7-->
    <div class="pillar-modal modal fade" id="pillarModal7" tabindex="-1" aria-labelledby="pillarModal7"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Serve</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}serve.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Does it help your community? Do you volunteer work? Have you been helping anyone in any way?
                                    Do you use your time, your knowledge or your donations to help someone?
                                </p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 8-->
    <div class="pillar-modal modal fade" id="pillarModal8" tabindex="-1" aria-labelledby="pillarModal8"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Intellectual</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}intellectual.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Do you study regularly? What do you like to study or why do you have to study?
                                    What would it be like to study what you like?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 9-->
    <div class="pillar-modal modal fade" id="pillarModal9" tabindex="-1" aria-labelledby="pillarModal9"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Financial</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}financial.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Is your life financially balanced? Do you earn more than you spend or is it the other way around? Have you been worried about having a
                                    savings, reserve money, worries about saving for the future, to realize your
                                    dreams?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 10-->
    <div class="pillar-modal modal fade" id="pillarModal10" tabindex="-1" aria-labelledby="pillarModal10"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Professional</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}professional.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">How do you feel about your job today? Are you happy in your area or
                                    would you like to act in something completely different? Is your salary satisfactory? 
                                    Your working environment is healthy?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pillars Modal 11-->
    <div class="pillar-modal modal fade" id="pillarModal11" tabindex="-1" aria-labelledby="pillarModal11"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="pillar-modal-title text-secondary text-uppercase mb-0">Emotional</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="{{ MEDIA_URL }}emotional.png" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">How do you handle your emotions? Do you speak what you feel or keep? When
                                    speak explode or wait for the right moment? Do you have grievances? 
                                    Do you believe you need to forgive or be forgiven?</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}