*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(to right, #ffe7e3, #ebbee9);
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(134, 108, 133, 0.654);
  width: 95%;
  height: 400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.navbar{
  background-image: linear-gradient(to right, #ffe7e3, #ebbee9,
  #846eff, #59bbe8, #a7ffcd);
}

.about{
  padding: 10px 100px;
}

.pillar .pillar-item .pillar-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.pillar .pillar-item .pillar-item-caption:hover {
  opacity: 1;
}
.pillar .pillar-item .pillar-item-caption .pillar-item-caption-content {
  font-size: 1.5rem;
}

.pillar-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.pillar-modal .pillar-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

.pillar .pillar-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.pillar .pillar-item .pillar-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

@media (min-width: 992px) {
  .pillar-modal .pillar-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 690px) {
  main{
    width: 50rem;
    height: 650px;
  }
}