{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="page-section about mt-5" id="about">
    <h2>
        About.
    </h2>
    <hr>
    <div class="about-text ">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed ipsum et lacus volutpat ornare.
            Vestibulum venenatis maximus dolor, non rhoncus metus. Morbi id aliquam metus. Donec feugiat sodales
            hendrerit. Donec pretium augue a ornare laoreet. Nulla id vehicula mi. Ut ultrices, arcu ac
            ullamcorper tempor, lacus mauris pulvinar ex, interdum eleifend dui urna nec ligula. Morbi eget purus
            pharetra, mattis nisl at, vestibulum mauris. Integer posuere accumsan turpis sit amet scelerisque.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque non elementum quam, eu imperdiet
            diam.
        </p>
        <p>
            Sed suscipit justo eu diam molestie sodales. Quisque aliquam arcu sit amet tortor euismod, sit amet bibendum
            odio efficitur.
            Suspendisse in lectus odio. Sed volutpat eget lectus a tincidunt. Sed efficitur semper elit. Cras volutpat,
            metus et
            volutpat interdum, tellus lacus sollicitudin neque, at porta nisi ligula vitae erat. Maecenas pretium mi et
            nibh
            fermentum lacinia. Sed consectetur sed justo laoreet tincidunt. Quisque pharetra, sem id efficitur
            hendrerit,
            orci ante venenatis odio, eu interdum dolor enim at eros. Nam tristique diam nibh, id fermentum leo
            porttitor
            at.
            Fusce tortor nunc, dignissim a lacus id, convallis euismod mauris. Ut consequat, dui at feugiat rutrum,
            elit nibh placerat libero, sed rhoncus nibh libero viverra urna. Sed sed felis ullamcorper tellus vestibulum
            venenatis sed quis lacus.
        </p>
        <hr>
    </div>
</section>
{% endblock %}